---
layout: default
title: Craig England
cv: craigengland.pdf
---

{% include header.html %}

<div class="site">
  <div class="container">
    <section class="about cf">
      <h2>Bio</h2>
        <div class="row-6">
          <p>
            Since graduating from Glasgow Caledonian University in 2009 I have been fascinated by the innovative nature of the digital landscape.
            After gaining the basics I have taken it upon myself, like many people in the web industry, to keep up to date with the latest technologies and techniques that are prevalent in the modern design agency.
          </p>
        </div>
        <div class="row-6">
          <p>
            While working in Canada I had the opportunity to work with organisations such as Oxfam and the Greater Victoria Coalition to End Homelessness.
            Upon returing to Scotland in December of 2015, I am now looking for new opportunites in the digital marketing industry.
          </p>
        </div>
    </section>
    <hr>
    <section class="skills">
      <h2>Skills</h2>
        <div class="flex-container">
          <div class="strategy">
            <svg class="icon">
              <use xlink:href="#share"></use>
            </svg>
            <h3>Strategy</h3>
            <ul>
              <li>Content Strategy</li>
              <li>Social Media Integration</li>
              <li>Search Engine Optimisation</li>
            </ul>
          </div>
          <div class="code">
            <svg class="icon">
              <use xlink:href="#browser"></use>
            </svg>
            <h3>Development</h3>
            <ul>
              <li>HTML</li>
              <li>CSS (Sass)</li>
              <li>Wordpress</li>
              <li>Shopify</li>
            </ul>
          </div>
          <div class="tools">
            <svg class="icon">
              <use xlink:href="#tools"></use>
            </svg>
            <h3>Tools</h3>
            <ul>
              <li>Google Webmaster Tools</li>
              <li>Google Adwords</li>
              <li>Google Analytics</li>
              <li></li>
            </ul>
          </div>
        </div>
    </section>
    <hr>
    <section class="work">
      <h2>Case Study</h2>
      <div class="case-study">
        <h3>West Coast Cranes</h3>
        <p>
          West Coast Cranes Inc is the number 1 provider of overhead crane services on Vancouver Island.
          Built on Wordpress with a local search engine optimisation strategy has provided quick results after launching in the Spring of 2015.
        </p>
        <a href="http://www.wccranes.ca" target="_blank">View Live Site</a>
      </div>
    </section>
    <hr>
  </div>
</div>

{% include footer.html %}
