<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="The home of Craig England on the web">
        <link rel="stylesheet" href="css/main.css">
        <link rel="shortcut icon" type="image/png" href="/favicon.png">
        <link href='https://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    </head>
    <body>
        {% include svg-symbols.svg %}

        <header>
            <div class="container">
                <div class="row">
                    <h1 class="logo">Craig England</h1>
                    <div class="description">
                        <p>I am a 28 year old aspiring digital marketer from the <strike>sunny</strike> seaside town of Ayr in Scotland.</p>
                    </div>
                    <a href="{{baseline.url}}/assets/files/{{page.cv}}" class="cv" target="_blank">Download CV</a>
                </div>

            </div>
        </header>
