

    {% include meta.html %}

        <header>
            <div class="container">
                <div class="row">
                    <h1 class="logo">Craig England</h1>
                    <div class="description">
                        <p>I am a 28 year old aspiring web developer from the <strike>sunny</strike> seaside town of Ayr in Scotland. <br><br>You can read my blog <a href="../blog">here</a>.</p>
                    </div>
                    <a href="{{baseline.url}}/assets/files/{{page.cv}}" class="cv" target="_blank">Download CV</a>
                </div>

            </div>
        </header>
