

    {% include meta.html %}

        <header class="header">

            <h1 class="logo bold">Craig England</h1>
                
            <p class="description">I am front-end developer currently working at <a href="http://www.hookson.com">Hookson</a> in Edinburgh.</p>

        </header>

        <section class="projects">
            
            <h2 class="projects--headine">Recent Projects</h2>

            <ul class="projects--list">
                <li><a href="http://www.cs-partners.net">CS Partners</a></li>
                <li><a href="http://charterbuilding.co.uk">Charter Building</a></li>
                <li><a href="http://edinburghbioquarter.com">Edinburgh BioQuarter</a></li>
                <li><a href="http://toomeyco.com">Toomey &amp; Co. Auctioneers</a></li>
                <li><a href="http://edinburghsculpture.org">Edinubrgh Sculpture Workshop</a></li>
                <!-- <li><a href=""><strike>Fair Access Toolkit (Coming soon)</strike></a></li> -->
            </ul>
            
        </section>
