/* Header */

header {
  background-color: $heroBackground;
  height: 100vh;
}

.container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

.logo-container {
  padding: 2rem 0;
}

.logo {
  font-size: 1.6rem;
  font-weight: normal;
  text-align: right;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    right: 12rem;
    margin: 15px 0 0;
    height: 2px;
    background-color: $alpha;
    width: 5rem;
  }
}

.description {
  padding: 25% 0;
  max-width: 800px;
   p {
    font-size: 2.4rem;
    a {
      border-bottom-width: 2px;
      border-bottom-style: solid;
      border-bottom-color: $alpha;
      color: $beta;
      transition: border-bottom-color 500ms ease-out;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0px;
        display: block;
        height: 2px;
        background-color: white;
        animation: reverseWidth .3s;
      }
    }
  }
}

.description a:hover:after {
  width: 100%;
  animation: animateWidth .3s;
  background-color: white;
}


.row-6 {
  width: 100%;
  @media screen and (min-width: 700px) {
    width: 50%;
    float: left;
  }
}

/* Skills */

.icon {
  width: 30px;
  height: 30px;
  display: block;
}

path {
  fill: white;
}



/* Footer */

.contact {
  padding: 20% 0;
  background-color: rgba($alpha, .95);
  color: white;
  text-align: right;
  h3 {
    text-align: right;
    font-size: 1.6rem;
    font-weight: normal;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      display: block;
      background-color: white;
      width: 5rem;
      height: 2px;
      right: 7rem;
      top: 0;
      margin: 15px 0 0;
    }
  }
}

h4 {
  font-size: 1rem;
  font-weight: normal;
}

.contact-grid {
  padding: 5px 0;
  a {
    font-size: 1rem;
    color: white;
    display: inline-block;
    letter-spacing: .05rem;
  }
}

.contact-information {
  margin-top: 2rem;
}

@keyframes animateWidth {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes reverseWidth {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
