/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
    margin: 0;
    padding: 0;
}

body svg {
    display: none;
}


html, body {
    height: 100%;
    box-sizing: border-box;
}

body {
    background-color: white;
    font: 13.34px "EB Garamond", Helvetica, Arial, sans-serif;
    font-size: small;
    margin: 0;
    padding: 0;
}

hr {
    height: 1px;
    display: block;
    border: 0;
    border-top: 1px solid $alpha;
    width: 60%;
    margin: 10em auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
    @media screen and (min-width: 800px) {
        width: 250px;
    }
}

ol {
    margin-left: 10px;
    li {
        padding-bottom: 40px;
        font-size: 1.2rem;
        line-height: 1.6;
    }
}

strong {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}
