---
layout: post
---

{% include meta.html %}


<div class="c--intro_article cf">
  <h1>
    <a href="/">CE</a>
  </h1>
  <a href="/" class="blog">Home</a>
</div>

<article class="c--post_container"></div>
  <div class="c--post_single {{ page.color }}">
    
      <b class="c--post_date mb2">{{ page.date | date_to_string }}</b>
      <h1 class="c--post_title mb2">{{ page.title }}</h1>
      <i class="c--post_mileage">Distance: {{ page.excerpt }}</i> 

    
  </div>

  <main class="c--post_content">
    
      {{ content }}
    
  </main>

  <div class="c--pagination">
    {% if page.previous.url %}
    <a href="{{ page.previous.url }}" class="previous--day">{{page.previous.title}}</a>
    {% endif %}
    {% if page.next.url %}
    <a href="{{ page.next.url }}" class="next--day">{{page.next.title}}</a>
    {% endif %}
  </div>

</div>

